<p-card>
  <div class="flex align-items-stretch gap-2">
    <h2>Name:</h2>
    <h2 class="text-primary">{{school.name}}</h2>
  </div>

  <div class="flex align-items-stretch gap-2">
    <h2>Country:</h2>
    <h2 class="text-primary">{{school.country}}</h2>
  </div>

  <div class="flex align-items-stretch gap-2">
    <h2>City:</h2>
    <h2 class="text-primary">{{school.city}}</h2>
  </div>

  <div class="flex align-items-stretch gap-2">
    <h2>Teachers Count:</h2>
    <h2 class="text-primary">{{school.teachersCount}}</h2>
  </div>

  <div class="flex align-items-stretch gap-2">
    <h2>Students Count:</h2>
    <h2 class="text-primary">{{school.studentsCount}}</h2>
  </div>
</p-card>
