<p-messages severity="info" [(value)]="warningMessage" [style]="{'margin-bottom':'5px'}"></p-messages>
<div class="flex-container gap-2 justify-content-center align-items-center">
  <p-card header="Input values" styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="row">
        <div class="field">
          <label for="gender">Gender</label>
          <p-dropdown [options]="genderOptions" id="gender" [(ngModel)]="predictionRequest.gender"></p-dropdown>
          <small class="p-error" *ngIf="false">Gender is required</small>
        </div>

        <div class="field">
          <label for="ethnicity">Race or Ethnicity</label>
          <p-dropdown [options]="ethnicityOptions" id="ethnicity"
            [(ngModel)]="predictionRequest.ethnicity"></p-dropdown>
          <small class="p-error" *ngIf="false">Race or Ethnicity is required</small>
        </div>
      </div>


      <div class="field">
        <label for="parent-education">Parental Level of Education</label>
        <p-dropdown [options]="parentLevelEducationOptions" id="parent-education"
          [(ngModel)]="predictionRequest.parental_level_of_education"></p-dropdown>
        <small class="p-error" *ngIf="false">Parental Level of Education is required</small>
      </div>

      <div class="field">
        <label for="lunch">Lunch Type</label>
        <p-dropdown [options]="lunchOptions" id="lunch" [(ngModel)]="predictionRequest.lunch"></p-dropdown>
        <small class="p-error" *ngIf="false">Lunch Type is required</small>
      </div>

      <div class="field">
        <label for="test-course">Test Preparation Course</label>
        <p-dropdown [options]="testPreparationCourseOptions" id="test-course"
          [(ngModel)]="predictionRequest.test_preparation_course"></p-dropdown>
        <small class="p-error" *ngIf="false">Test Preparation Course is required</small>
      </div>

      <div class="row">
        <div class="field">
          <label for="reading">Reading Score out of 12</label>
          <input type="number" min="1" max="12" pInputText id="reading" [(ngModel)]="predictionRequest.reading_score"
            required autofocus />
          <small class="p-error" *ngIf="false">Reading Score is required.</small>
        </div>

        <div class="field">
          <label for="writing">Writing Score out of 12</label>
          <input type="number" min="1" max="12" pInputText id="writing" [(ngModel)]="predictionRequest.writing_score"
            required autofocus />
          <small class="p-error" *ngIf="false">Writing Score is required.</small>
        </div>
      </div>

      <div class="field">
        <h4>Math Prediction Result: <span style="font-weight: lighter;">{{prediction}}</span></h4>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Predict" class="p-button-text" (click)="getPrediction()"
        [disabled]="!isModelValid(predictionRequest)"></button>
    </ng-template>
  </p-card>
</div>