<p-card>
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" (click)="openNew()" icon="pi pi-plus" class="p-button-success p-mr-2" style="margin-right:10px"></button>
    </ng-template>
  </p-toolbar>
  <br>

  <p-table [value]="students?.items || []"
           [paginator]="true"
           [rows]="5"
           [rowsPerPageOptions]="[5]"
           [lazy]="true"
           [loading]="loading"
           [lazyLoadOnInit]="false"
           (onLazyLoad)="nextPage($event)"
           [totalRecords]="students?.totalCount || 0"
           [showCurrentPageReport]=true
           [(selection)]="selectedStudents"
           [rowHover]="true"
           dataKey="id">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName">First Name</th>
        <th pSortableColumn="lastName">Last Name</th>
        <th pSortableColumn="studyGroup">Study Group</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-student>
      <tr>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.studyGroups[0].name}}</td>
        <td class="flex justify-content-center flex-wrap gap-1">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click) = "edit(student)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSingle(student.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog [(visible)]="showDialog" [style]="{width: '450px', height:'500px'}" header="Study group details" [modal]="true" styleClass="p-fluid" (onHide)="hideDialog()">
  <ng-template pTemplate="content">

    <div class="field" *ngIf="isEditMode">
      <label for="email">Student Email</label>
      <input disabled type="text" pInputText id="email" [(ngModel)]="student.userEmail" />
    </div>

    <div class="field" *ngIf="isEditMode == false">
      <label for="emailOptions">Student Email</label>
      <p-dropdown [disabled]="isEditMode" [options]="userEmailOptions" id="emailOptions" [(ngModel)]="student.userEmail"></p-dropdown>
      <small class="p-error" *ngIf="submitted && !student.userEmail">User email required</small>
    </div>

    <div class="field">
      <label for="studyGroup">Study Group</label>
      <p-dropdown [options]="studyGroupOptions" id="studyGroup" [(ngModel)]="student.studyGroupId" optionLabel="name" optionValue="id"></p-dropdown>
      <small class="p-error" *ngIf="submitted && !student.studyGroupId">Study group required</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContent()"></button>
  </ng-template>
</p-dialog>
