<p-card>
  <div class="flex align-items-stretch gap-2">
    <h1 class="text-primary">{{student?.firstName}} {{student?.lastName}}</h1>
  </div>

  <div class="flex align-items-stretch gap-2">
    <h2>Study Group:</h2>
    <h2 class="text-primary"><p-chip styleClass="mr-2 custom-chip" *ngFor="let studyGroup of student?.studyGroups">{{studyGroup.name}}</p-chip></h2>
  </div>

  <div class="flex align-items-stretch gap-2">
    <h2>Subjects:</h2>
    <h2 class="text-primary"><p-chip styleClass="mr-2 custom-chip" *ngFor="let subject of subjects">{{subject.name}}</p-chip></h2>
  </div>

  <p-chart height="70rem" type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
</p-card>

