<p-card>

  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" (click)="openNew()" icon="pi pi-plus" class="p-button-success p-mr-2" style="margin-right:10px"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedSchools || !selectedSchools.length"></button>
    </ng-template>
  </p-toolbar>
  <br>

<p-table [value]="schools.items"
         [paginator]="true"
         [rows]="5"
         [rowsPerPageOptions]="[5,10,20]"
         [lazy]="true"
         [loading]="loading"
         [lazyLoadOnInit]="false"
         (onLazyLoad)="nextPage($event)"
         [totalRecords]="schools.totalCount"
         [showCurrentPageReport]=true
         [globalFilterFields]="['name','country','city']"
         [(selection)]="selectedSchools"
         [rowHover]="true"
         dataKey="id">
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between">
      <h5>Manage Schools</h5>
      <div>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text"  placeholder="Search..." />
      </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="country">Country<p-sortIcon field="country"></p-sortIcon></th>
      <th pSortableColumn="city">City<p-sortIcon field="city"></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-school>
    <tr>
      <td>
        <p-tableCheckbox [value]="school"></p-tableCheckbox>
      </td>
      <td>{{school.name}}</td>
      <td>{{school.country}}</td>
      <td>{{school.city}}</td>
      <td class="flex justify-content-center flex-wrap gap-1">
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click) = editSchool(school)></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</p-card>

<p-dialog [(visible)]="schoolDialog" [style]="{width: '450px'}" header="School Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="school.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !school.name">Name is required.</small>
    </div>
    <div class="field">
      <label for="country">Country</label>
      <input type="text" pInputText id="country" [(ngModel)]="school.country" required autofocus />
      <small class="p-error" *ngIf="submitted && !school.name">Country is required.</small>
    </div>
    <div class="field">
      <label for="city">City</label>
      <input type="text" pInputText id="city" [(ngModel)]="school.city" required autofocus />
      <small class="p-error" *ngIf="submitted && !school.name">City is required.</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveContent()"></button>
  </ng-template>
</p-dialog>
