<div class="box">
  <p-card header="Students per group" [style]="{'width': '30rem'}">
    <p-chart height="25rem" type="pie" [data]="studentsPerGroupChart"></p-chart>
  </p-card>

  <p-card header="Average grade per group" [style]="{'width': '30rem'}">
    <p-chart height="25rem" type="bar" [data]="averageGradePerGroupChart"></p-chart>
  </p-card>


  <p-card header="Average grade per subject" [style]="{'width': '30rem'}">
    <p-chart height="25rem" type="radar" [data]="averageGradePerSubjectChart" [options]="chartOptions"></p-chart>
  </p-card>
</div>
